.location-page {
  height: calc(100vh - 150px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  gap: 20px;
  background-color: lightcyan;
  padding: 30px;
  box-sizing: border-box;
}

.location-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto;
}


