.location-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff4d1;
  border: 2px solid #ffcc00;
  border-radius: 16px;
  text-align: center;
   margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.location-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.location-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.location-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 12px 0 4px;
}

.location-card p {
  font-size: 0.95rem;
  color: #555;
  margin: 0 12px 16px;
}
.location-card h3 {
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  color: #eecb3f; /* amarillo Simpsons */
  text-shadow: 2px 2px 0 #000; /* borde negro */
  letter-spacing: 1px;
  font-size: 1.3rem;
}

.location-card p {
  font-family: "Comic Sans MS", cursive;
  color: #000203;
}